h1{
	text-align: center;
	margin: 40px 0;
}

h5{
	text-align: center;
}

/* Border bottom */

section.projects{
	border-bottom: 1px solid #ccc;
	padding-bottom: 40px;
}

section.about{
	border-bottom: 1px solid #ccc;
	padding-bottom: 40px;
}

section.services{
	border-bottom: 1px solid #ccc;
	padding-bottom: 40px;
}

/* End of border bottom */


/* Skils */
section.services > .container{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

section.services > .container div{
	margin: 0px 5%;
	width: 90%;
}

/* Icons */ 
.container div > h1{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.container div > h1 > i{
	margin: 20px 20px;
}

/* Footer */

footer{
	height: 200px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

footer span, p{
	align-self: center;
}



@media only screen and (max-width: 768px) {
 	section.services > .container{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

