/* override _variables.scss ---- command --> sass main.scss main.css */

$enable-gradients:                            true !default;

:root{
	--mybg: #5B47E4;
}

@import "node_modules/bootstrap/scss/bootstrap";

.main-form{
	width:450px;
	margin: auto;
}